.page{
  position: relative;
  width: 100vw;
  padding:0 10px;
  background-color: black;
  background: linear-gradient(to bottom right, #5e5e5e, #2f2f2f);
  z-index: -2;
}
.innerpage{
  max-width: 1650px;
  margin: auto;
  padding: 0 30px;
  height: 100vh;

}
.innerpage .bg{
  position: absolute;
  inset: 0;
  max-width: 1400px;
  margin: auto;
  height: 100%;
  background-image: url('/try.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(100%) brightness(30%);
  z-index: -1;
}
.innerpage .bgimg{
  position: absolute;
  width: 100%;
}
.navbar{
  position: relative;
  z-index: 50;
  backdrop-filter: blur(8px);
}
.navbar .inner{
  margin: auto;
  max-width: 1300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.navbar .nav-links {
  position: relative;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  list-style: none;
}
.nav-links li{
  color: white;
  font-size: .8rem;
  cursor: pointer;
  padding-bottom: 10px;
}
.nav-links li:hover{
  padding-bottom: 1px;
  color: #2f2f2f;
  background-color: white;
}
.test h1{
  color: white;
  cursor: pointer;
}

